body {
  margin: 0;
  font-family: "Roboto";

  background-color: var(--background-color);
  color: var(--font-color);
}

#app {
  min-height: calc(100vh);

  display: grid;
  gap: 0;
  grid-template-columns: 100%;
  grid-template-rows: calc(1em + 10px) auto calc(1em + 10px);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  border-bottom: 1px solid var(--font-color);
}

main {
  grid-area: main;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  grid-area: footer;
}

svg {
  height: 1em;
  width: 1em;
}

* {
  transition: color,background 200ms linear;
}

*::selection {
  background-color: var(--font-color);
  color: var(--background-color);
}

select {
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0 0.5em;
  border: 0;
  font-size: 1.25em;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.1em;
  max-width: 10em;
}

select.error {
  border-bottom: 1px solid var(--error-color);
}

button:focus, textarea:focus, select:focus {
  outline: none;
}

button:focus-visible, textarea:focus-visible, select:focus-visible {
  outline-color: var(--border-color);
  outline-style: dotted;
  outline-offset: 2px;
  outline-width: 4px;
}

button {
  background-color: transparent;
  color: var(--font-color);
  border: 0;
  cursor: pointer;
}

button.primary {
  font-size: 1em;
  padding: 0.5em;
  border: 0;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin-top: 1em;
}

button.primary:hover {
  background-color: var(--primary-hover-color);
}

button.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.with-icon .button-label {
  margin-right: 0.2em;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-corner {
  background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  background-clip: content-box;
}

*::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

h1, h2, h3 {
  user-select: none;
}

h1 {
  margin: 0.75em 0;
}

h2, h3 {
  margin: 0.5em 0;
}


