:root {
  --light-primary-color: rgb(235, 95, 7);
  --light-secondary-color: rgb(0, 115, 187);
  --light-background-color: rgb(250, 250, 250);
  --light-border-color: rgb(170, 183, 184);
  --light-font-color: rgb(22, 25, 31);
  --light-error-color: rgb(214, 39, 40);
  
  --dark-primary-color: rgb(235, 95, 7);
  --dark-secondary-color: rgb(0, 115, 187);
  --dark-background-color: rgb(33, 37, 44);
  --dark-border-color: rgb(135, 149, 150);
  --dark-font-color: rgb(213, 219, 219);
  --dark-error-color: rgb(214, 39, 40);
}
